# Import Data

In [13]:
import pandas as pd
import numpy as np

In [3]:
OWID_URL = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"

df = pd.read_csv(OWID_URL)

df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN

# Chọn ra những cột trọng tâm

In [4]:
    cols_to_keep = [
            'iso_code', 'continent', 'location', 'date',
            'total_cases', 'total_deaths', 'new_cases', 'new_deaths',
            'population', 'people_vaccinated', 'people_fully_vaccinated'
        ]

    # Copy tạo bản sao
    df_clean =  df[cols_to_keep].copy()

df_clean

,iso_code,continent,location,date,total_cases,total_deaths,new_cases,new_deaths,population,people_vaccinated,people_fully_vaccinated
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,41128772,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,41128772,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,41128772,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,41128772,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,41128772,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN

# Chuyển đổi dữ liệu ngày

In [6]:
df_clean['date'] = pd.to_datetime(df_clean['date'])

df_clean

,iso_code,continent,location,date,total_cases,total_deaths,new_cases,new_deaths,population,people_vaccinated,people_fully_vaccinated
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,41128772,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,41128772,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,41128772,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,41128772,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,41128772,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN

# Data Imputation (Missing Data Replacement)

In [12]:
for col in df_clean.columns:
    missing_data = df_clean[col].isna().sum()
    missing_percent = missing_data/len(df_clean) *100
    print(f"Column <{col}> has missing percent {missing_percent}%")

Column <iso_code> has missing percent 0.0%
Column <continent> has missing percent 6.176720574708629%
Column <location> has missing percent 0.0%
Column <date> has missing percent 0.0%
Column <total_cases> has missing percent 4.105627161270041%
Column <total_deaths> has missing percent 4.105627161270041%
Column <new_cases> has missing percent 4.488688625752442%
Column <new_deaths> has missing percent 4.384132639398279%
Column <population> has missing percent 0.0%
Column <people_vaccinated> has missing percent 81.10726885326068%
Column <people_fully_vaccinated> has missing percent 81.8223945416652%

In [9]:
# Sắp xếp dữ liệu theo ĐỊA ĐIỂM và THỜI GIAN để thực hiện việc XỬ LÝ BIẾN ĐỘNG
df_clean = df_clean.sort_values(['location', 'date'])

df_clean

,iso_code,continent,location,date,total_cases,total_deaths,new_cases,new_deaths,population,people_vaccinated,people_fully_vaccinated
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,41128772,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,41128772,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,41128772,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,41128772,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,41128772,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN

In [ ]:
#Forward fill + fillna 0
numeric_cols = df.select_dtypes(include=[np.number]).columns
# Đây là kỹ thuật điền giá trị thiếu thông minh cho dữ liệu chuỗi thời gian, còn gọi là Last Observation Carried Forward (LOCF).
# Nếu một quốc gia không báo cáo số liệu hôm nay, giá trị số liệu tổng hợp (như total_cases) sẽ bằng giá trị đã biết gần nhất của chính quốc gia đó.
# Dùng groupby('location') để đảm bảo việc điền chỉ xảy ra trong phạm vi từng quốc gia, không bị ảnh hưởng bởi quốc gia khác.
df[numeric_cols] = df.groupby('location')[numeric_cols].ffill()
# Sau khi ffill, vẫn còn các giá trị thiếu ở những ngày đầu tiên của mỗi quốc gia. Đối với dữ liệu COVID-19, số liệu thiếu ở giai đoạn đầu thường được hiểu là chưa có báo cáo ca nhiễm/tử vong, nên việc điền bằng 0 là hợp lý.
df[numeric_cols] = df[numeric_cols].fillna(0)

# MOVING AVERAGE: Xử lý BIẾN ĐỘNG/NOISE

In [18]:
# Do ca mắc có thể biến động mạnh chỉ trong vài ngày làm cho dữ liệu dễ bị nhiễu theo chu kỳ
# Đồng thời dataset đang có nhiều LOCATION khác nhau nên phải nhóm chúng lại với nhau để tính riêng từng rolling

# rolling: nhìn lại N dòng trước
# transform: tính theo nhóm nhưng giữ nguyên số dòng

# Tính cột mới cho cases
df_clean['new_cases_smoothed'] = df_clean.groupby('location')['new_cases'].transform(
    lambda x: x.rolling(7, min_periods=1).mean()
)

# Tính cột mới cho deaths
df_clean['new_death_smoothed'] = df_clean.groupby('location')['new_deaths'].transform(
    lambda x: x.rolling(7, min_periods=1).mean()
)

df_clean

,iso_code,continent,location,date,total_cases,total_deaths,new_cases,new_deaths,population,people_vaccinated,people_fully_vaccinated,new_cases_smoothed,new_death_smoothed
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,41128772,NaN,NaN,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,41128772,NaN,NaN,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,41128772,NaN,NaN,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,41128772,NaN,NaN,0.0,0.0
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,41128772,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN,0.0,0.0
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN,0.0,0.0
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN,0.0,0.0
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN,0.0,0.0
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,5740.0,0.0,0.0,16320539,NaN,NaN,0.0,0.0

In [25]:
# Thư viện hỗ trợ tạo file.parquet
# %pip uninstall pyarrow -y
# %pip install pyarrow==14.0.2

Found existing installation: pyarrow 22.0.0
Uninstalling pyarrow-22.0.0:
  Successfully uninstalled pyarrow-22.0.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Failed to remove contents in a temporary directory 'E:\Python\COVID19\Data-Preparation\.venv\Lib\site-packages\~yarrow.libs'.
You can safely remove it manually.
WARNING: Failed to remove contents in a temporary directory 'E:\Python\COVID19\Data-Preparation\.venv\Lib\site-packages\~yarrow'.
You can safely remove it manually.

In [24]:
df_clean.to_parquet("data/covid_cleaned.parquet", index=False)

ArrowKeyError: A type extension with name pandas.period already defined